body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

header {
    padding: 25px;
    background: #111;
    box-shadow: 0 0 20px cyan;
}

h1 {
    color: cyan;
}

section {
    padding: 40px 20px;
}

/* Carousel */
.carousel img {
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px cyan;
}

.controls button {
    padding: 8px 15px;
    margin: 10px;
    border: none;
    background: cyan;
    cursor: pointer;
    border-radius: 20px;
}

/* Quiz */
.quiz-card {
    background: #111;
    padding: 25px;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 20px cyan;
}

select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: cyan;
}

.correct { color: lime; }
.wrong { color: red; }

/* API */
.api-section button {
    background: lime;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        background: #222;
    }

    .quiz-card {
        width: 90%;
    }

    .carousel img {
        width: 95%;
    }
}